html,
body {
  height: 100%;
  background-color: #F4F6FC;
  font-family: 'DM Sans', sans-serif;
}

.title{
  font-family: 'PT Serif', serif;
}

.form-section{
  margin-top: 5%;
  margin-left: 15%; 
}

.form-control{
  border-color: #2E4C6D;
  border: 3px solid  #2E4C6D;
  background-color:#F4F6FC ;
}

.btn-primary {
  color: #F4F6FC;
  background-color: #2E4C6D;
  border-color: #ccc;
  width:max-content;
}

.btn-primary:hover {
  color: #F4F6FC;
  background-color: #79abe0;
  border-color: #ccc;
}

.user-themes{
  padding: 2.5% 0 0 20%;
}

.logout-btn{
  margin: 1% 0 0 6%;
  border-radius: 22px;
}

#theme-toggler{
  background-color: #2E4C6D;
  color:#F4F6FC;
}

.overlay {
  position: absolute;
  top: 2%;
  left: 2%;
  right: 0;
}

.rupee{
  opacity: 0.3;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  margin-top: 2%;
  margin-left: 2%;
}

.coin{
  width: 7%;
  height:20%;
  position: absolute;
  left: 72%;
  top: 42%;
  z-index: 1;
 }

.avatar {
  vertical-align: left;
  width:40px;
  height: 40px;
  margin-left:10%;
  border-radius: 50%;
}

.spacing{
  margin-top: 2.5%;
  margin-bottom: 3%;
}

.labels{
  font-family: 'PT Serif', serif;
  text-align: right;
  font-size: 20px;
  display: inline-block;
  margin-left: 22%;
}

.label{
  font-size: 100%;
}

.inline{
  display: inline-block;
  width:30%;
  margin: 0 5% 0 3%;
}