html,
body {
  height: 100%;
  background-color: #F4F6FC;
}



.form-section{
  margin-top: 5%;
  margin-left: 15%;
  
}

.form-control{
  border-color: #2E4C6D;
  border: 3px solid  #2E4C6D;
  background-color:#F4F6FC ;
}

.btn-primary {
  color: #F4F6FC;
  background-color: #2E4C6D;
  border-color: #ccc;
  
}

.btn-primary:hover {
  color: #F4F6FC;
  background-color: #79abe0;
  border-color: #ccc;
}

.user-themes{
  padding: 2.5% 0 0 20%;
}

.overlay {
  position: absolute;
  top: 2%;
  left: 2%;
  right: 0;
}

.rupee{
  opacity: 0.3;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  margin-top: 2%;
  margin-left: 2%;
}

.coin{
  width: 7%;
  height:20%;
  position: absolute;
  left: 72%;
  top: 42%;
  z-index: 1;
 
 }



.avatar {
  vertical-align: left;
  width:40px;
  height: 40px;
  margin-left:5%;
  border-radius: 50%;
}



.spacing{
  margin-top: 2.5%;
  margin-bottom: 3%;
}