/* h2{
    
}
body{
    background-color:#F4F6FC;
    margin-left: 150px;
    margin-top: 85px;
}
img{
   
    float: right;
    margin-right: 420px;
    margin-top: 0px;
    transform: rotate(-35deg);

}
 */
 body{
    background-color:#F4F6FC;
    overflow: hidden;
}
.container .row .col-6{
    margin-top: 10%;
}
#images{
  margin-top: 10%;
}
.container .rotate-image1{
    transform: rotate(-15deg);
}
#image4{
    margin-top: 20%;
   margin-bottom: 8%;
}
#image1{
     /* margin-left:10%; */
     margin-left:3%;
}
h2{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: #F4F6FC;
}
#customBtn {
    /* display: inline-block; */
    background:#F4F6FC;;
    color: #2E4C6D;
    width: 280px;
    white-space: nowrap;
  }
  #customBtn:hover {
    cursor: pointer;
  }
  span.label {
    font-family: serif;
    font-weight: normal;
  }
  span.icon img {
    /* display: inline-block; */
    vertical-align: middle;
    margin-left:5%;
  }
  span.buttonText {
    display: inline-block;
    vertical-align: middle;
    margin-left: 2%;
    font-size: 24px;
    font-weight: bold;
    /* Use the Roboto font that is loaded in the <head> */
    font-family: 'Roboto', sans-serif;
  }

  h2{
      color:black;
  }