body{
    background-color:#2E4C6D ;
}
h2{
    font-size: 50px;
    font-family:'PT Serif', serif;;
    color: #F4F6FC;
}
#customBtn {
    /* display: inline-block; */
    background:#F4F6FC;
    color: #2E4C6D;
    width: 280px;
    font-family:'PT Serif', serif;;

}
#theme-toggler{
    float:right;
    margin-right: 5%;
    margin-top: 5%;
    color:  #2E4C6D;
    font-weight: 700;
    font-size: 20px;
    background-color: #F4F6FC;
    font-family:'PT Serif', serif;;
  }