body{
    background-color:#2E4C6D ;
    font-family:'PT Serif', serif;
}
h2{
    font-size: 50px;
    font-family:'PT Serif', serif;;
    color: #F4F6FC;
}
#customBtn {
    /* display: inline-block; */
    background:#F4F6FC;
    color: #2E4C6D;
    width: 280px;
    font-family:'PT Serif', serif;;

}
#theme-toggler{
    float:right;
    margin:3% 5% 0 0;
   color:  #2E4C6D;
   background-color: #F4F6FC;
   
  }