body{
    background-color:#F4F6FC;
    font-family: 'PT Serif', serif;
}

.container .row .col-6{
    margin-top: 10%;
}
#images{
  margin-top: 20%;
}

.container .rotate-image1{
    transform: rotate(-15deg);
  
}

#image3{
  opacity: 0.5;
  z-index: -1;
  position: absolute;
}

#image4{
    margin-top: 20%;
   left: 20%;
    opacity: 0.5; 
   margin-left: 20%;
   margin-bottom: 8%;
}
  

#image2{
    margin-left:3%;
    
}
h2{
    font-size: 50px;
    font-family:'PT Serif', serif;;
    color: #2E4C6D;
}



#customBtn {
    /* display: inline-block; */
    background:white;;
    color: #2E4C6D;
    width: 280px;
    font-family: 'PT Serif', serif;
   
  
    white-space: nowrap;
  }
  #customBtn:hover {
    cursor: pointer;
  }
  span.label {
    font-family: serif;
    font-weight: normal;
  }
  span.icon img {
 
    /* display: inline-block; */
    vertical-align: middle;
    margin-left:5%;
 
  }
  span.buttonText {
    display: inline-block;
    vertical-align: middle;
    margin-left: 2%;
   
    font-size: 24px;
    font-weight: bold;
    /* Use the Roboto font that is loaded in the <head> */
    font-family: 'Roboto', sans-serif;
  }
  #theme-toggler{
    float:right;
    margin: 3% 5% 0 0;
    color: #F4F6FC;
    background-color:#2E4C6D ;
    
  }